.App {
  text-align: center;
}

.App-logo {
  height: 50%;
  width: 100%;
  pointer-events: none;
  margin: 5px;
  object-position: left;
  position: relative;
  top: -40px;
}

.App-header {
  background-color: #51624F;
  min-height: 10vh;
  min-width: 99vw;
  display: grid;
  color: white;
}

.Pages-div {
  background-color: #9CB4AC;
  height: fit-content;
}

.Page-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  align-items: left;
}

.Footer {
  background-color: #51624F;
  color: white;
}

.Gap {
  padding-bottom: 65px;
  margin: 0;
  color: #9CB4AC;
}

.Api-Box {
  margin:auto;
  width: 50vw;
}

.Submit-button {
  margin-top: 15px;
  width: 90px;
  margin-right:10px;
  padding: 8px;
  margin-right:10px;
  background-color:#198754;
  border-color:#198754;
}